{
    "token": "",
    "prefix": "$",
    "channel_id": 0,
    "servers": {
        "your-server-name": {
            "host": "localhost",
            "username": "user",
            "password": "password",
            "port": 22,
            "server_file": "/home/to/server/dir/server.jar",
            "screen_name": "minecraft",
            "world_name": "world",
            "java_args": ""
        }
    }
}